@page "/"

<PageTitle>Index</PageTitle>


<div class="content">

    <div class="content_header"> <UserInfo/> </div>

    <div class="content_body"><blockquote class="message"> You have found yourself here within the realm of one Skull Dug Dev, where ancient untold secrets and treasure lie.</blockquote></div>

    <div class="content_footer"><p class="enterPrompt">Enter, if you dare.</p></div>
    
    <div class="content_games">
        <img alt="5e Logo" src="images/5e_Logo.svg"/>
        <img alt="Pf2e Logo" src="images/pf2e_Logo.svg"/>
    </div>

</div>