@inherits LayoutComponentBase


<header>
    <NavMenu/>
</header>

<main>
    @Body
</main>

<footer>
    <span class="footer_legal">
        &copy; 2022 - SkullDugDungeon - SkullDugDev
    </span>
</footer>