<section class="userInfo">
    <h1 class="userInfo_userName">User</h1>
    <div class="userInfo_userType">
        <p>Medium Humanoid</p>
        <p class="userInfo_userType_userRole">Player</p>
    </div>
    <figure class="userInfo_profileImage"><img class="profileTokenImage" src="images/skd_token.png" alt="melting skull token as default profile image."/></figure>
</section>